.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

        // Установка первого "брейк-поинта" (480px), до которого - "Отзывчивая - тянется как 'резиновая' (responsive) веб-страница", и после достижения которой - фиксируется размер страницы.
        @media screen and (min-width: 480px) {
        width: 480px;
        }

        // Установка второго "брейк-поинта"(768px)
        @media screen and (min-width: 768px) {
            width: 768px;
        }

        // Установка третьего "брейк-поинта"(1200px)
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
}